<!-- src/main/resources/templates/fragments/navbar.html -->
<div  th:fragment="navbar">
    <nav style="background-color: bisque " class="navbar navbar-expand-lg navbar-light">
        <a style="color: darkblue" class="navbar-brand" href="#" >MyApp</a>
        <div  class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a style="color: darkblue" class="nav-link" href="/greeting?name=ADNANE">Greeting</a>
                </li>
                <li class="nav-item">
                    <a style="color: darkred" class="nav-link" href="/addresses">Addresses</a>
                </li>
            </ul>
        </div>
    </nav>
</div>